@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .brand-names {
    display: inline-flex;
    animation: slide 10s linear infinite;
  }
  
  .logoAnimation {
    overflow: hidden;
    white-space: nowrap;
  }

  .overflow-x-scroll {
    overflow-x: scroll;
    white-space: nowrap; /* Prevents wrapping of images */
}